.button {
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  background-color: var(--preto);
  color: var(--branco);
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}