.container section {
  margin: 10px 60px 60px;
  min-height: calc(100vh - 111px - 78px - 70px);
  animation: show .3s .3s backwards;
}

@keyframes show {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media screen and (max-width: 650px) {
  .container section {
    margin: 50px 10px;
  }
}