.produto {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  width: 100%;
}

.produto img {
  width: 100px;
  height: 100px;
}

.infoProduto {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoProduto h2 {
  font-size: 24px;
  font-weight: 500;
}

.infoProduto p {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .infoProduto h2 {
    font-size: 18px;
  }
}