.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header .carrinho {
  width: 35px;
}

@media screen and (max-width: 650px) {
  .header {
    padding: 20px 10px;
  }
}