.footer {
  background-color: var(--preto);
  color: var(--branco);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  margin-left: 15px;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    gap: 15px;
    padding: 20px 10px;
  }
}
