.cabecalhoCarrinho {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  width: 453.38px;
}

.cabecalhoCarrinho h1 {
  font-size: 26px;
  font-weight: 500;
}

.carrinho {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.infosPagamento {
  width: 250px;
}

.infosPagamento h3 {
  font-size: 20px;
  font-weight: 500;
}

.infosPagamento > div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 22px;
}

@media screen and (max-width: 520px) {
  .cabecalhoCarrinho {
    width: auto;
  }
  .cabecalhoCarrinho h1 {
    font-size: 24px;
  }
}