.container {
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  min-height: calc(100vh - 89.44px - 80px);
}

.container img {
  max-width: 350px;
  height: 350px;
}

.container > div {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
}

.container h2 {
  font-weight: 400;
}