.container {
  padding: 40px 10px;
  min-height: calc(100vh - 111px - 78px);
}

.cabecalhoProduto {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 0 50px 50px;
}

.cabecalhoProduto h1 {
  font-size: 26px;
  font-weight: 500;
}

.produto {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.produto img {
  max-width: 350px;
  height: 350px;
}

.produto > div {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto h1 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
}

.produto h2 {
  font-weight: 400;
}

.addAoCarrinho {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
}

@media screen and (max-width: 770px) {
  .produto {
    flex-direction: column;
    align-items: center;
  }
  .produto > div {
    display: block;
  }
  .produto h2, .produto h1 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 390px) {
  .produto img, .produto > div {
    width: 100%;
    height: auto;
  }
  .produto h2, .produto h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .cabecalhoProduto {
    margin-left: 10px;
    gap: 20px;
  }
  .cabecalhoProduto h1 {
    font-size: 24px;
  }
}